body {
    background-color: dimgrey;
    color: white;
}

input, button {
    position: absolute;
    right: 23%;
    border-radius: 8px;
}

div{
    padding: 8px;
}
button{
    margin-top: 10px;
}

#inputContainer, #outputContainer{
    border: 3px solid white;
    margin-left: 20%;
    margin-right: 20%;
    padding: 40px;
}